/*  Body  */
body {
  margin: 0;
  padding: 0;
}

/*  Full Page  */
#fullPage {
  background-color: rgb(212, 212, 212);
}

/*  Navigation Menu  */
#navigationMenu {
  background-color: rgba(0, 0, 0, 0.849);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: #fffcfc 2px 2px 5px;
}

#navigationMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 25px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  margin-right: 10px;
}

#navigationMenu ul li {
  float: left;
  border-right: 1px solid #fff;
  font-size: 20px;
  text-align: center;
}

#navigationMenu ul li:last-child {
  border-right: none;
}

#navigationMenu ul li a {
  display: block;
  text-align: center;
  padding: 14px 56px;
  text-decoration: none;
  color: #fff;
}

#navigationMenu ul li a:hover {
  color: #ec1c24;
}

#navigationMenu img {
  margin-top: 26px;
  margin-left: 70px;
}

/*  Main Image/GIF  */
#mainImage img {
  width: 100%;
  min-height: 380px;
  position: relative;
  box-shadow: #333 2px 2px 5px;
}

#mainImage #textImage {
  position: absolute;
  top: 60%;
  right: -20%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2.5em;
  color: #fff;
}

#mainImage #textImage h2 {
  text-align: center;
  text-shadow: #333 2px 2px 5px;
}

#mainImage #textImage p {
  text-align: center;
  text-shadow: #000 2px 2px 5px;
}

/*  All Latest News  */
#latestNews #header {
  text-align: center;
  padding: 32px;
}

#latestNews #header h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 55px;
  color: #606060;
}

#latestNews #header p {
  font-size: 24px;
  color: #606060;
}

#header p {
  text-align: center;
}

.newsLeft {
  margin: 20%;
  margin-top: 2%;
}

.newsLeft div:not(:first-child) {
  margin: 0;
  margin-bottom: 100px;
}

.newsLeft h4 {
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.newsLeft img {
  width: 485px;
  height: 295px;
  float: left;
  padding-right: 30px;
}

.newsLeft h4,
p {
  padding-left: 50px;
  text-align: justify;
}

.newsRight {
  margin: 16.7%;
  margin-top: -10%;
}

.newsRight div:not(:first-child) {
  margin-top: -20%;
  margin-bottom: 50px;
}

.newsRight h4 {
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.newsRight img {
  width: 485px;
  height: 295px;
  float: right;
  padding-left: 30px;
  margin-right: 50px;
}

.newsRight > iframe {
  width: 485px;
  height: 265px;
  float: right;
  padding-left: 30px;
  margin-right: 50px;
}

.newsRight h4,
p {
  padding-left: 50px;
  text-align: justify;
}

/*  About Me  */
#aboutMe h3 {
  text-align: center;
}

#aboutMe {
  display: inline-block;
  margin-bottom: 100px;
}

#aboutMe > img {
  border-radius: 50%;
  width: 20%;
  height: 10%;
  margin-left: 15%;
  float: left;
}

#aboutMe p {
  font-size: 1.5em;
  margin-left: 35%;
  margin-right: 32%;
  margin-top: 9%;
}

/*  Contact  */
#contact {
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  resize: vertical;
}

#contact .form-style {
  margin-left: 500px;
  padding: 0;
  display: block;
  list-style: none;
}

#contact .form-style label {
  display: block;
  padding: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

#contact .form-style input {
  margin-bottom: 20px;
  width: 50%;
  padding-bottom: 10px;
}

#contact .form-style button {
  margin-top: 55px;
  margin-left: 20%;
  padding: 30px;
  border-radius: 25%;
  color: #fff;
  font-weight: bold;
  background-color: #ec1c24;
}

#contact textarea {
  width: 50%;
  height: 150px;
}

#contact #socialMedias {
  margin-top: 80px;
  text-align: center;
  margin-right: 46%;
}

#contact #socialMedias img {
  padding-right: 40px;
}

/*  Fonts  */
#fontsSection {
  background-color: #929292;
}

#fontsSection > h3 {
  color: #fff;
  padding-top: 50px;
  font-size: 2.9em;
}

#fonts {
  display: flex;
  justify-content: center;
}

#fonts > .brands {
  align-items: center;
  margin: 20px;
  padding-bottom: 40px;
  padding-right: 40px;
}

/*  Footer  */
#footer {
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

#footer > p {
  text-align: center;
}

/* Headers */
h3 {
  text-align: center;
  font-size: 2.5em;
}
